pre {
    resize: both;
    white-space: pre-wrap;
    word-break: break-all;
    overflow-y: auto;
    overflow-x: hidden;
}

code > button{
  position: sticky;
  left: calc(100% - 50px);
  bottom: calc(100% - 22px);
}
